.below {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 16px;
  float: left;
  clear: left;
}

.right {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 16px;
  float: left;
}

.header {
  font-size: 1.5em;
  font-family: "McLaren", cursive;
  font-weight: 200;
  border: none;
  outline: none;
}

.body {
  font-size: 1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: none;
  outline: none;
  resize: none;
  font-family: "Montserrat", sans-serif;
}
